.dark .fi-layout{
    width:100%;
    background-image: url('../../images/fls_app_bg_dark.png');
    background-color: transparent;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size:inherit;
}
.fi-layout{
    width:100%;
    background-image: url('../../images/fls_app_bg_light.png');
    background-color: transparent;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size:inherit;
}